<section class="two-way-binding">
    <article>
      <h3>Two-way data binding</h3>
      <div>
        <!-- <input type="text" [value]="nome" (input)="nome = $event.target.value" > -->
        <!-- <p>Você digitou: {{ nome }}</p> -->
        <br>
        Nome: <input type="text" [(ngModel)]="pessoa.nome" placeholder="Informe seu nome" >
        &nbsp;
        Idade: <input type="text" [(ngModel)]="pessoa.idade" placeholder="Informe sua idade" >
        <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de idade</p>
  
      </div>
    </article>
  </section>